[Unit]
Description = Maestral gui for config %i
Documentation = https://github.com/SamSchott/maestral-dropbox/wiki
PartOf=graphical-session.target
Requires=maestral@%i.service
After=graphical-session.target maestral@%i.service
AssertEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart = /usr/bin/maestral gui -c %i
Slice = session.slice

[Install]
WantedBy = graphical-session.target
