[Unit]
Description = Maestral daemon for config %i
Documentation = https://maestral.app

[Service]
UMask=0077
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
RestrictNamespaces=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
SystemCallErrorNumber=EPERM

Type = notify
NotifyAccess = exec
ExecStart = /usr/bin/maestral start -f -c %i
ExecStop = /usr/bin/maestral stop -c %i
ExecStopPost=/usr/bin/env bash -c "if [ ${SERVICE_RESULT} != success ];\
then notify-send Maestral 'Daemon failed'; fi"
WatchdogSec = 30s
Slice=session.slice

[Install]
WantedBy = default.target
