[Unit]
Description=Lightweight Wayland notification daemon
Documentation=man:mako(1)
AssertEnvironment=WAYLAND_DISPLAY

[Service]
UMask=0077
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
RestrictNamespaces=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
SystemCallErrorNumber=EPERM

Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/mako
ExecReload=/usr/bin/makoctl reload
Slice=session.slice
