[Unit]
Description=Handles session idle events
Documentation=man:swayidle
AssertEnvironment=WAYLAND_DISPLAY
AssertPathExists=%E/swayidle/%i

[Service]
UMask=0077
Type = simple
ExecStart=/usr/bin/swayidle -w -C "%E/swayidle/%i"
Restart=on-failure
UMask=0077
Slice=session.slice

[Install]
DefaultInstance=config
