[Unit]
Description=Handles session idle events
Documentation=man:swayidle
AssertEnvironment=WAYLAND_DISPLAY
AssertPathExists=%E/swayidle/%i

[Service]
UMask=0077
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
RestrictNamespaces=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
SystemCallErrorNumber=EPERM

Type = exec
ExecStart=/usr/bin/swayidle -w -C "%E/swayidle/%i"
Restart=on-failure
Slice=session.slice

[Install]
DefaultInstance=config
