[Unit]
Description=Display colour temperature adjustment
AssertEnvironment=WAYLAND_DISPLAY
PartOf=sway-session.target

[Service]
ExecStart=/usr/bin/wlsunset -l 49 -L 9 -T 5500 -t 4000
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=sway-session.target
