[Unit]
Description=XSETTINGS-protocol daemon

[Service]
UMask=0077
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
RestrictNamespaces=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
SystemCallErrorNumber=EPERM

ExecStart=/usr/bin/xsettingsd
Slice=session.slice
